<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="mb-3">
    <input placeholder="E-mail" class="form-control" formControlName="email" />

    <app-mensagem *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] && novoUsuarioForm.get('email')?.touched" mensagem="E-mail obrigatório">
    </app-mensagem>

    <app-mensagem *ngIf="novoUsuarioForm.get('email')?.errors?.['email'] && novoUsuarioForm.get('email')?.touched" mensagem="E-mail no formato incorreto">
    </app-mensagem>

  </div>

  <div class="mb-3">
    <input placeholder="Nome Completo" class="form-control" formControlName="fullName" />

    <app-mensagem *ngIf="novoUsuarioForm.get('fullName')?.errors?.['required'] && novoUsuarioForm.get('fullName')?.touched" mensagem="Nome incorreto">
    </app-mensagem>
  </div>

  <div class="mb-3">
    <input placeholder="Usuário" class="form-control" formControlName="userName" />

    <app-mensagem *ngIf="novoUsuarioForm.get('userName')?.errors?.['minusculo'] && novoUsuarioForm.get('userName')?.touched" mensagem="Usuário deve ser em letra minúscula"></app-mensagem>

    <app-mensagem *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']" mensagem="Usuário já existe!"></app-mensagem>
  </div>

  <div class="mb-3">
    <input type="password" placeholder="Senha" class="form-control" formControlName="password" />

    <app-mensagem *ngIf="novoUsuarioForm.errors?.['senhaIgualUsuario']" mensagem="Senha deve ser diferente do usuário"></app-mensagem>
  </div>

  <div class="d-grid">
    <button type="submit" class="btn btn-primary">Cadastro</button>
  </div>
</form>

<p>Já é um usuário? <a [routerLink]="['']">Faça o Login</a></p>
