<h4 class="text-center">Login</h4>

<form class="mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="mb-3">
    <input class="form-control" placeholder="Nome de usuário" [(ngModel)]="usuario" name="usuario" #campoUsuario="ngModel" required />
    <app-mensagem *ngIf="campoUsuario.invalid && campoUsuario.touched" mensagem="Usuário obrigatório">
    </app-mensagem>
  </div>

  <div class="mb-3">
    <input class="form-control" type="password" placeholder="Senha" [(ngModel)]="senha" name="senha" #campoSenha="ngModel" required />
    <app-mensagem *ngIf="campoSenha.invalid && campoSenha.touched" mensagem="Senha obrigatório">
    </app-mensagem>
  </div>

  <div class="d-grid">
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>

<p>Não é um usuário? <a [routerLink]="['novousuario']">Se cadastre!</a> </p>
